wave_dirichlet_1D_Neural_MI12kGT.jld2
*.jld2
.DS_Store
PINNS_codes/SimplePoissonPINN/.DS_Store
.DS_Store
New_architecture/cgpt_try.ipynb
New_architecture/cgpt_try_2.ipynb
New_architecture/cgpt_try_3.ipynb
New_architecture/cgpt_try_4.ipynb
New_architecture/ds_try.ipynb
New_architecture/ds_try_2.ipynb
New_architecture/ds_try_3.ipynb
New_architecture/ds_try_4.ipynb
New_architecture/ds_try_5.ipynb
New_architecture/ds_try_6.ipynb
